body{
  background: grey;
}
.waveformDropdownWidth,
.LFOwaveformDropdownWidth{
  width: 100% !important;
}
.presetInputHeaders{
  color: #9A1717;
}
.savePresetsWholeForm{
  background: #686868;
  margin-left: 20%;
}
.saveMenu{
  /*background: #686868;*/
  text-align: center;
}
.saveMenu a{
  color: #265D8C;
}
