/*html{
  background: black;
}*/
body{
  background: grey;
  background: url("../img/virus_bg.jpg") no-repeat fixed;
  background-size: cover;
}
.waveformDropdownWidth,
.LFOwaveformDropdownWidth{
  width: 100% !important;
}
.presetInputHeaders{
  color: #9A1717;
}
.savePresetsWholeForm,
.loadPresetsWholeForm{
  background: grey;
}
.savePresetsWholeForm{
  margin-left: 20%;
}
.saveMenu,
.loadMenu{
  text-align: center;
}
.saveMenu a{
  /*background: grey;*/
  color: #337ab7;
  /*color: white;*/
}
.savePresetButton{
  text-align: center;
}
.noise_main_img{
  
}